---
import WideCard from '../components/WideCard.astro'

import { publishedEssays, draftEssays, sortByUpdated } from './content.ts'

const topics = [
  ...new Set(
    [publishedEssays, draftEssays].flatMap((collection) =>
      collection.flatMap(({ data }) => data.topics),
    ),
  ),
]

import { components } from '../components/mdxcomponents.ts'
---

{
  sortByUpdated(publishedEssays).map((content) => (
    <div class="content-item" data-topics={JSON.stringify(content.data.topics)}>
      <WideCard
        to={content.id}
        title={content.data.title}
        topics={content.data.topics}
        when={content.data.updated}
      >
        {content.data.description}
      </WideCard>
    </div>
  ))
}
    <!-- {
         sortByUpdated(draftEssays).map((content) => (
         <div
         class="content-item opacity-50"
         data-topics={JSON.stringify(content.data.topics)}
         >
         <WideCard
         to={content.id}
         title={content.data.title}
         topics={content.data.topics}
         when={content.data.updated}
         >
         {content.data.description}
         </WideCard>
         </div>
         ))
         } -->
