---
import { render } from 'astro:content'
import StreamCard from '../components/StreamCard.astro'

import { stream, sortByStartDate } from './content.ts'

const topics = [
  ...new Set([stream].flatMap((collection) => collection.flatMap(({ data }) => data.topics))),
]

import { components } from '../components/mdxcomponents.ts'

const renderedStream = await Promise.all(
  sortByStartDate(stream).map(async (streamlet: CollectionEntry<'stream'>) => {
    const { Content } = await render(streamlet)
    return { ...streamlet, Content }
  }),
)
---

{
  renderedStream.map((streamlet) => (
    <div
      id={streamlet.id}
      class="content-item group/streamlet relative f-my-sm"
      data-topics={JSON.stringify(streamlet.data.topics)}
    >
      <a
        href={`#${streamlet.id}`}
        class="absolute top-3 left--8 px-1 f-text-xl font-normal opacity-0 transition-opacity group-hover/streamlet:opacity-100 duration-300 text-cornflower"
      >
        ยง
      </a>
      <StreamCard
        title={streamlet.data.title}
        topics={streamlet.data.topics}
        date={streamlet.data.startDate}
      >
        <streamlet.Content components={components} />
      </StreamCard>
    </div>
  ))
}
