---

const {
  title = "",
  pos = "",
  org = "",
  href = "",
  to = "",
  description = "",
  links = [],
  topics = "",
  imageSrc = "",
} = Astro.props

import RelevantLinks from './RelevantLinks.astro'
import Badges from './Badges.astro'
import Ol from './OuterLink.astro'
import Il from './InnerLink.astro'

import CardHeader from './WideCard/CardHeader.astro'
import Org from './WideCard/Org.astro'

---

<div class="f-mb-xl">
  <div class="group relative grid f-pb-xs transition-all sm:grid-cols-8 sm:f-gap-xs lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
    <!-- Background element -->
    <div class="absolute f-left--4--6 f-right-4-4 f-top--4--6 f-bottom-0-0 z-0 rounded-md transition duration-300 ease-in-out lg:block lg:group-hover:bg-[rgb(51,51,57)] lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] group-hover:drop-shadow-lg"></div>

    {description !== "" && (
      <header class="z-10 f-mb-xs f-mt-1-2 f-text-xs font-semibold uppercase tracking-wide text-zinc-500 sm:col-span-2">
        {description}
      </header>
    )}

    {imageSrc !== "" && (
      <img
        class="w-20 f-mb-xs rounded hover:drop-shadow sm:order-1 sm:col-span-2 sm:translate-y-1"
        loading="lazy"
        data-nimg="1"
        width="200"
        height="48"
        src={imageSrc}
        alt={title || "card image"}
      />
    )}

    <div class="z-10 sm:col-span-6 order-0 sm:order-2">
      {title !== "" && (
        <div class="f-mb-xs">
          <h3 class="font-medium leading-snug text-zinc-200">
            <div>
              {!href && !to && (
                <CardHeader title={title} org={org}/>
              )}
              {href && (
              <Ol href={href}>
                <CardHeader title={title} org={org}/>
              </Ol>)}
              {to &&
              <Il href={to}>
                <CardHeader title={title} org={org}/>
              </Il>}
            </div>
          </h3>
          <div class="text-zinc-500">
            <span>{pos}</span>
          </div>
        </div>
      )}

      {Astro.slots.has('default') && (
        <div class="f-text-xs f-my-xs">
          <slot/>
        </div>
      )}

      {links && links.length > 0 && (
        <RelevantLinks {links} />
      )}

      {topics !== "" && (
        <Badges topics={topics} />
      )}
    </div>
  </div>
</div>

